/***********body***********/
html,body{
	font-family: Arial,sans-serif;
	color: #FFFFFF;
	background-color: #808080;
	height: 100%;
	margin: 0;
}

/***********footer***********/
.wrapper{
    min-height: 100%;
	margin-bottom: -30px;
	background-color: #808080;
}

.push{
	height: 30px;
}

.footer{
	color: #FFFFFF;
	background-color: #000000;
	height: 20px;
	padding-top: 10px;
	padding-left: 30px;
}

/***********header***********/
.home{
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}

.menu{
	font-size: 20px;
	font-weight: bold;
    text-align: right;
	background-color: #000000;
	padding: 10px;
}

.button{
	font-size: 20px;
	color: #FFFFFF;
	background-color: #808080;
	width: 100px;
	height: 30px;
}

/***********form***********/
.form{
	background-color: #696969;
	padding: 30px;
}
.form-left{
	float: left;
	padding: 3px;
}

/***********table***********/
.table{
	background-color: #696969;
	color: #FFFFFF;
	border: 1px;
	width: 95%;
	margin: 0px auto;
	border-collapse: separate;
	border-spacing: 5px;
}

.table-narrow{
	background-color: #696969;
	color: #FFFFFF;
	border: 1px;
	width: 60%;
	margin: 0px auto;
	border-collapse: separate;
	border-spacing: 5px;
}

.table-a{
	background-color: #000000;
	padding: 10px;
}

/***********others***********/
.information{
	font-weight: bold;
	font-size: 30px;
	background-color: #696969;
	padding: 30px;
}

.information-title{
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}

.error{
	color: #ADFF2F;
}
