/*
 * Author: nian
 * Blog: http://whoisnian.com
 * Mail: zhuchangbao2017@gmail.com
 * Copyright © 2017 All Rights Reserved
 */

/*********** main ***********/
html, body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #000000;
    height: 100%;
    margin: 0;
}

*:hover {
    transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

/*********** menu ***********/
.menu {
    text-align: right;
    border-style: solid;
    border-width: 0 0 1px 0;
}
@media (min-width: 40em) {
    .menu {
        font-size: 20px;
    }
}

.menu-title{
    float: left;
    padding: 10px;
}

.menu nav a {
    display: inline-block; 
    padding: 10px;
} 

.other {
    display: inline-block;
    vertical-align: top;
}

/*********** footer ***********/
.wrapper {
    min-height: 100%;
    margin-bottom: -42px;
}

.push {
    height: 42px;
}

.footer {
    height: 30px;
    padding: 10px 0 0 10px;
    border-style: solid;
    border-width: 1px 0 0 0;
}

/*********** form ***********/
.form-card {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
@media (min-width: 40em) {
    .form-card {
        font-size: 20px;
    }
}

.file {
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    display: inline-block;
    width: 200px;
    cursor: pointer;
    outline: none;
}
@media (min-width: 40em) {
    .file {
        font-size: 20px;
        width: 300px;
    }
}

.file:hover{
    background-color: #CCCCCC;
}

.button{
    background-color: #FFFFFF;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    white-space: nowrap;
    display: inline-block;
    padding: 3px 10px;
    cursor: pointer;
    outline: none;
}
@media (min-width: 40em) {
    .button {
        padding: 5px 15px;
    }
}

.button:hover{
    background-color: #CCCCCC;
}

/***********table***********/
.table {
    font-size: 11px;
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 40em) {
    .table {
        font-size: 14px;
        width: 70%;
    }
}
@media (min-width: 55em) {
    .table {
        font-size: 16px;
        width: 60%;
    }
}

.table a {
    color: #666666;
    text-decoration: none;
}

.table a:hover {
    color: #FFFFFF;
}

.table td {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table tr:hover {
    background-color: #CCCCCC;
}

/***********others***********/
.maxlen {
    white-space: nowrap;
    display: inline-block;
    vertical-align:top;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 40em) {
    .maxlen {
        max-width: 280px;
    }
}

.error{
    color: #000000;
}
